<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <div class="main-heading">
            <span class="heading">Code Affect</span>
            <span class="subheading">Blog</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/accounts'"> About </a>
            <a mat-list-item [routerLink]="'/create-account'"> Home </a>
            <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
            <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>